<div class="auth-sdk-step auth-sdk-username-password">
  <div class="auth-sdk-input-group">
    <label for="auth-sdk-username">Username</label>
    <input type="text" name="username" class="auth-sdk-input" id="auth-sdk-username" />
  </div>
  <div class="auth-sdk-input-group">
    <label for="auth-sdk-password">Password</label>
    <input type="password" name="password" class="auth-sdk-input" id="auth-sdk-password" />
  </div>
  <button type="button" class="auth-sdk-button" auth-sdk-trigger='{ "action": "COLLECT" }'>Submit</button>
</div>
